.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto auto auto auto auto;
    gap: 1em;
    justify-items: center;
}
.card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    min-width: 320px;
    max-width: 350px;
    background-color: white;
    align-items: center;

}
.card:hover {
      border-color: #888;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.image {
    display: flex;
    flex-direction: column;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.proStitek {
    position: relative;
    display: flex;
    justify-content: center;
}
.img__wrapper {
    padding: 0em 5em 0em 5em;
}

.absolute {
    position: absolute;   
    top: 0;
    left: 0;
}

.card__product {
    text-align: center;
    margin: 0;
    text-decoration: none;
    display: block;
    color: black;
    margin: 1em 2em;
}

.card__product:hover {
    text-decoration: underline;
}

.product__name {
    text-decoration: none;
    align-self: flex-start;
}

.stars__textbox {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.rating__box {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    
}

.rating {
  text-decoration: none;  
  align-content: center;
}

.ratingValue {
    font-weight: bold;
    color: navy;
}

.ratingValueCount {
    color: gray;
    text-decoration: underline;
}
.discount--active {
    min-height: 43px;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    border: dashed 3px black;
}

.discount__percent {
background-color: red;
font-weight: bold;
color: white;
padding: 2px;
}

.discount__price {
color: red;
}

.discount__text {
color: green;
text-decoration: underline;
}

.card__textbox {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.price {
    display: inline-block;
    align-self: center;
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}


.btn {
    display: inline-block;
    background-color: green;
    align-self: center;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
}